.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 300;
    gap: 30px;
    padding: 0 200px 100px;
}

.form-wrapper {
    padding: 20px 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.form-wrapper span{
    font-weight: 700;
    font-size: 20px;
}
form select {
    padding: 8px 12px; /* Відступи для кращого зовнішнього вигляду */
    font-size: 16px; /* Розмір шрифту */
    border: 1px solid #ccc; /* Границя */
    border-radius: 5px; /* Закруглені кути */
    background-color: #fff; /* Фоновий колір */
    transition: border-color 0.3s ease; /* Анімація зміни кольору границі */
}

form select:hover,
form select:focus {
    border-color: #aaa; /* Колір границі при наведенні або фокусі */
}

/* Стилізація для кнопки */
form button {
    padding: 10px 20px;
    font-size: 16px;
    border: none; /* Відсутність границі */
    border-radius: 5px; /* Закруглені кути */
    background-color: var(--additional-color); /* Колір фону */
    color: #fff; /* Колір тексту */
    cursor: pointer; /* Зміна форми курсора на пальцевий, коли кнопка доступна для натискання */
    transition: background-color 0.3s ease; /* Анімація зміни колір фону */
}

form button:hover {
    background-color: var(--button-hover-color); /* Колір фону при наведенні */
}
.product-not-found{
    font-weight: 700;
    font-size: 25px;
}
.item-product {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    padding: 20px;
    transition: box-shadow 0.3s ease;
}
.product-image{
    background-color: var(--light-theme-bcgc);
}
.product-image img {
    width: 400px;
    height: auto;
    mix-blend-mode: multiply;
}
.product-details {
    font-size: 20px;
}





/*.product-image {*/
/*    margin-left: 20px; !* Adjust the spacing between text and image *!*/
/*}*/
/*.product-image img {*/
/*    max-width: 100%; !* Ensure images don't exceed their container width *!*/
/*    height: auto; !* Maintain aspect ratio *!*/
/*    display: block; !* Ensure proper alignment and spacing *!*/
/*    border-radius: 5px; !* Add rounded corners to the images *!*/
/*    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); !* Add a subtle shadow effect *!*/
/*}*/
.item-product span{
    font-size: 25px;
    font-weight: 700;
}
.item-product:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.shop-address{
    color: var(--additional-color);
    transition: background-color 0.3s ease;
}
.shop-address:hover{
    color: var(--button-hover-color);
}

.pagination-arrow{
    transition: 0.3s;
    color: var(--simple-black);
}
.pagination-arrow:focus,
.pagination-arrow:hover
{
    color: var(--additional-color);
}
.maps-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: -20px;
}
