/*:root {*/
/*    --accent-color: #04a904;*/
/*    --color-address-link: #757575;*/
/*    --background-color: #2F303A;*/
/*    --text-color-secondary: #212121;*/
/*    --text-color-paragraph-grey: #757575;*/
/*    --portfolio-button-color: #F5F4FA;*/
/*}*/

:root{
    --input-color: rgba(189, 168, 135, 0.75);
    --button-hover-stop-adding: #af3931;
    --button-hover-color: #1d6c5f;
    --light-theme-bcgc: #EAE7DC;
    --primary-text-color: #162129;
    --primary-nav-ref-color: #8E8D8A;
    --hover-nav-ref-color: #E85A4F;
    --additional-color: #2e9483;
    --color-accent: #c4ad8e;
    --light-violet: #AAA7DC;
    --simple-black: #000000;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 20px;
    transition: 0.5s;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--simple-black) ;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--additional-color);
    border-radius: 8px;
    transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--button-hover-color);
}
/* Header */
body {
    margin: 0;
    padding: 0;
    color: var(--primary-text-color);
    background: var(--light-theme-bcgc);
    font-family: "Shantell Sans", sans-serif;
    font-weight: 300;
}


select {
    font-family: inherit;
        font-weight: 300;
}

button{
        font-family: inherit;
    font-weight: 300;
}
.header{
    font-weight: 700;
}
.container {
    margin: 0 auto;
}

a {
    text-decoration: none;;
}

ul {
    list-style: none;
    padding: 0 0;
    margin: 0 0;
}




.logo {
    color: #000000;
    padding: 24px 93px 0 215px;
    font-family: inherit;
    font-weight: inherit;
    font-size: 26px;
    letter-spacing: 0.03em;
}

.logo-icon {
    color: var(--additional-color);

}

.logo span {
    color: var(--additional-color);
}

.header-link {
    color: var(--primary-nav-ref-color);
    font-weight: inherit;
    font-size: 20px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-link {
    height: 16px;
}

.current {
    color: var(--hover-nav-ref-color);
}

.header-link:hover,
.header-link:focus {
    transition: 0.4s;
    color: var(--hover-nav-ref-color);
}

.exit-link:hover,
.exit-link:focus
{
     transition: 0.4s;
    color: #c91414;
}
.div-header-link .ul {
    display: flex;
}

.div-logo-and-ref {
    display: flex;
}

.header-general-div {
    display: flex;
    justify-content: space-between;
}

.header-address .ul {
    display: flex;
}

.address-link {
    color: var(--primary-nav-ref-color);
}

.header li {
    padding: 32px 50px 32px 0;
}

.footer {
    font-weight: 700;
    background-color: var(--color-accent);
}

.footer-logo {
    color: var(--primary-text-color);
    padding: 0 0;
}

.footer-link {
    font-style: normal;
    font-weight: inherit;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-nav-ref-color)
}

.gmap {
    color: var(--primary-text-color);
}

.footer-link:hover,
.footer-link:focus {
    color: var(--hover-nav-ref-color);
}

.footer-elements {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1170px;
    margin: 0 auto;
}

.footer-links .ul {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

