{% extends 'backend/base.html' %}
{% block url_patern %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCA48fxJ82oBUqhCYIYd2RG4-uHXh7jyRM&libraries=places&loading=async"></script>
{% endblock %}
{% block content %}
    <section class="">
                <form action="{% url "add_purchase" %}" method="post">
                    {% csrf_token %}
                    <label for="username">
                        Виберіть категорію
                    </label>
                    <div class="form-group">
                        <label for="category_id" class="label">Оберіть Категорію</label>
                        <select id="category_id" name="category_id" class="select">
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label for="name_of_product">
                        Назва покупки
                    </label>
                    <input type="text"
                           id="name_of_product"
                           name="name_of_product"
                           minlength="3"
                           placeholder="введіть назву продукту" required>
                    <label for="price_of_product">
                        Ціна за покупку:
                    </label>
                    <input type="number"
                           id="price_of_product"
                           name="price_of_product"
                           placeholder="введіть суму яка була витратрачена на покупку" required>
                    <label for="description">
                        Опис Покупки
                    </label>
                    <textarea id="description" name="description" rows="5" cols="33">
                    </textarea>
                    <label for="username">
                        Виберіть Магазин
                    </label>
                    <div class="form-group">
                        <label for="id_shop" class="label">Оберіть магазин</label>
                        <select id="id_shop" name="shop" class="select">
                            {% for shop in shops %}
                                <option value="{{ shop.id }}">{{ shop.name }} - {{ shop.address }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="wrap">
                        <button type="submit">
                            Submit
                        </button>
                    </div>
                </form>
    </section>
    <section id="add_shop_section" style="display: none;">
            <form method="post" action="{% url 'add_user_shop' %}">
                {% csrf_token %}
                 <input name="name" placeholder="введіть назву магазину" type="text" required/>
                <input name="address" id="autocomplete" placeholder="введіть адресу магазину" type="text" required/>
                <button type="submit">Submit</button>
            </form>
    </section>
    <button id="close_add_shop_button" style="display: none">Відмінити додавання магазин</button>
    <button id="show_add_shop_button">Додати магазин</button>


    <script>
        document.getElementById('show_add_shop_button').addEventListener('click', function () {
            document.getElementById('add_shop_section').style.display = 'block';
            document.getElementById('show_add_shop_button').style.display = 'none';
            document.getElementById('close_add_shop_button').style.display = 'block';
            initAutocomplete();
        });
         document.getElementById('close_add_shop_button').addEventListener('click', function () {
            document.getElementById('add_shop_section').style.display = 'none';
            document.getElementById('close_add_shop_button').style.display = 'none';
            document.getElementById('show_add_shop_button').style.display = 'block';
            initAutocomplete();
        });
        let autocomplete;

        function initAutocomplete() {
            autocomplete = new google.maps.places.Autocomplete(
                document.getElementById('autocomplete'),
                {types: ['geocode']}
            );

            autocomplete.addListener('place_changed', onPlaceChanged);
        }

        function onPlaceChanged() {
            const place = autocomplete.getPlace(); // отримуємо об'єкт місця через autocomplete
            console.log(place);
        }

        google.maps.event.addDomListener(window, 'load', initAutocomplete);
    </script>
{% endblock %}