{% extends "backend/base.html" %}
{% block url_patern %}
    <link rel="stylesheet" href="/static/main/index.css">
{% endblock %}
{% block content %}
    <div class="main-wrapper">
        <img class="wallet" src="../../media/pngwing.com.png">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. A nesciunt est vero, beatae corporis architecto.
            Non quam, vero, quis voluptas veniam minima iure reiciendis expedita animi similique dolore cupiditate quo.
        </p>
    </div>
{% endblock %}